<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fabric.name %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @fabric.sku %>
</p>

<%= link_to 'Edit', edit_fabric_path(@fabric) %> |
<%= link_to 'Back', fabrics_path %>
