<p id="notice"><%= notice %></p>

<%= content_for :h2, 'Item Inventory' %>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Purchased at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item_inventories.each do |item_inventory| %>
      <tr>
        <td><%= item_inventory.item.name %></td>
        <td><%= item_inventory.purchased_at %></td>
        <td><%= link_to 'Show', item_inventory %></td>
        <td><%= link_to 'Edit', edit_item_inventory_path(item_inventory) %></td>
        <td><%= link_to 'Destroy', item_inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item Inventory', new_item_inventory_path %>
