<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @item_inventory.item %>
</p>

<p>
  <strong>Purchased at:</strong>
  <%= format_datetime(@item_inventory.purchased_at) %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= format_datetime(@item_inventory.updated_at) %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @item_inventory.notes %>
</p>

<%= link_to 'Edit', edit_item_inventory_path(@item_inventory) %> |
<%= link_to 'Back', item_inventories_path %>
